<% include partials/header.ejs %>

  <h3>Received request</h3>

  <%  Object.keys(dataIn).forEach(function (k) { %>
      <code>
        <%= k + " - " + dataIn[k] %>
      </code><br>
  <%}); %>

<div style="height:20px"></div>
<p>macData</p>
<code><%= macData %></code>

<p>Key</p>
<div style="height:10px"></div>
<code><%= pubKey %></code>











<% include partials/footer.ejs %>