<% include partials/header.ejs %>

  <h3>Received request</h3>

  <%  Object.keys(dataIn).forEach(function (k) { %>
      <code>
        <%= k + " - " + dataIn[k] %>
      </code><br>
  <%}); %>

<div style="height:20px"></div>

  <% var macData = ""; %>

  <%  Object.keys(dataIn).forEach(function (k) { %>
    <% if (k != "VK_MAC") { %>
    <% var el = dataIn[k]; %>
    <% if (el.length < 10) { %>
        <% macData += ("00" + el.length + el); %>
    <% } else if (el.length <100) { %>
        <% macData += ("0" + el.length + el); %>
    <% } else { %>
        <% macData += el %>
      <%    }; %>
      <%    }; %>
  <%}); %>
  
  <code><%= macData %></code>





<% include partials/footer.ejs %>